/*Importing Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Homemade+Apple&family=Protest+Revolution&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Homemade+Apple&family=Protest+Revolution&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root{
    /*Colors*/
    --white-color:#FFFFFF;
    --dark-color:#000000;
    --primary-color:#003366;
    --light-color: #3471af;
    --medium-color: #40658a;
    --haha-color: #607f9c;
    --secondary-color:#999999;
    --light-pink-color:#f4f4f5;
    --medium-gray-color:#cccccc;

    /*Font size*/
    --font-size-s:0.9rem;
    --font-size-n:1rem;
    --font-size-m:1.12rem;
    --font-size-l:1.5rem;
    --font-size-xl:2.3rem;
    --font-size-xxl:2.3rem;

    /*Font weight*/
    --font-weight-normal:400;
    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;

    /*Border radius*/
    --border-radius-s:8px;
    --border-radius-m:30px;
    --border-radius-circle:50%;

    /* Box shadow */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
    font-family: "Shadows Into Light", cursive;
}
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--white-color);
    top: 50%;
    right: -20px;
    font-family: "Roboto Condensed", sans-serif;
}
.title{
    font-size: xx-large;
}
.listProduct .item img{
    width: 90%;
    border-radius: var(--border-radius-s);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
    font-family: "Roboto Condensed", sans-serif;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
    font-family: "Roboto Condensed", sans-serif;
}
.listProduct .item button{
    background-color: var(--primary-color);
    color: var(--light-pink-color);
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-family: "Roboto Condensed", sans-serif;
}

.listProduct .item button:hover {
    background-color: var(--light-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* cart */
.cartTab{
    width: 400px;
    background-color: var(--medium-color);
    color: var(--light-pink-color);
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
    
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
    font-family: "Shadows Into Light", cursive;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: var(--secondary-color);
    border: none;
    font-weight: 500;
    cursor: pointer;
    line-height: 67px;
    font-family: "Roboto Condensed", sans-serif;
}
.cartTab button a{
    color: var(--dark-color);
    background-color: var(--secondary-color);
    border: none;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    font-family: "Roboto Condensed", sans-serif;
}
.cartTab .close{
    background-color: var(--light-pink-color);
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--white-color);
    border-radius: 50%;
    color: var(--primary-color);
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: var(--white-color);
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: var(--haha-color);
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}

footer {
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
    color: var(--dark-color);
    background-color: var(--light-color);
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 20px;
    line-height: 1.2em;
}

@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}